@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html, body {
  margin: 0;
  padding: 0;
}
#home{
  display: flex;
  flex-wrap: nowrap;
  min-height: 60vh;
}

.div-precisaser{
  display: flex;
  justify-content: center;
  width: 50%;
  min-height: 100%;
}
.logo-ps{
  width: 40%;
}

.vainaweb{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
.tittle-instituto{
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 1.75em;
  color: #ED1164;
}
.sobre-instituto{
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 0.9em;
  width: 92%;
}

#azul{
  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh;
  background-color: #64C0D9;
}
#azul div{
  margin-top: 40px;
}
.eventos{
  width: 45%;
  height: 100%;
  margin-left: 5%;
  /*margin-right: 2%;*/
}
.vnb{
  width: 50%;
  height: 100%;
  margin: 0;
}
#azul h2{
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 1.5em;
  color: #fff;
  width: 50%;
  margin-right: 0;
}
#azul p{
  font-family: 'Roboto-Bold', sans-serif;
  width: 90%;
  font-size: 0.95em;
  color: #fff;
  margin: 0;
  margin-bottom: 1em;
}



#parceiros{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-height: 100vh;
}


.title-projetos{
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Roboto-Medium', sans-serif;
  color: #555;
  margin-top: 6%;
}

.item-parceiros{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: baseline;
  width: 22%;
  height: 42%;
  margin-top: 5%;
  margin-left: 2%;
}
.item-parceiros img{
  max-width: 100%;
  max-height: 19vh;
}

.item-parceiros h3{
  width: 100%;
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 1em;
  color: #333;
}

.item-parceiros p{
  width: 100%;
  font-family: 'Roboto-Light', sans-serif;
  font-size: 0.8em;
  color: #333;
  line-height: 19px;
}


#map{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/map.png);
    background-repeat: no-repeat;
    min-height: 100%;

}
.plugin-responsivo{
  display: none;
}
.plugin-facebook{
  display: block;
  margin-top: 1%;
}
.p-precisaser{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65%;
  height: 45%;
  background-color: #fff;
  margin-top: 10%;
  margin-bottom: 10%;
}
.contact-precisaser{
  width: 50%;
}
.tittle-contact{
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  color: #333;
  padding-left: 3%;
}
.contact-precisaser ul li{
  font-family: 'Roboto-Light', sans-serif;
  font-size: 0.8em;
  color: #333;
  line-height: 29px;
  list-style-type: none;
}

 @media (max-width: 800px){
        #home{
          flex-direction: column;
          justify-content: center;
          align-items: center;
          min-height: 85vh;
        }
        .div-precisaser{
          width: 100%;
        }
        .logo-ps{
          width: 50%;
        }
        .vainaweb{

          width: 100%;
        }
        .tittle-instituto{
          width: 100%;
          font-size: 1.5em;
          text-align: center;
          margin-top: 8%;
          
        }
        .sobre-instituto{
          width: 95%;
          padding-left: 3%;
          font-size: 17px;
          margin: 0;
        }
        #azul{
          flex-direction: column;
          justify-content: center;
          align-items: center;
          min-height: 110vh;  
        }
        #azul div{
          margin-top: 0;
        }
        #azul h2{
          width: 80%;
        }
        .eventos{
          width: 95%;

        }
        .vnb{
          width: 95%;
          margin-left: 4%;
        }


        .item-parceiros{
          width: 50%;
          margin: 0;
          margin-bottom: 4%;
        }

        .item-parceiros h3{
          text-align: center;
        }

        .item-parceiros p{
          width: 93%;
          margin-left: 2%;
        }



        #map{
          min-height: 100%;
          background-size: 100%;
        }
        
        .p-precisaser{
          display: none;
        }
        .plugin-responsivo{
          display: block;
        }

        .precisa{
          padding-bottom: 5%;
          margin-top: 10%;
        }
        .logo-precisaser{
          width: 75%;
          height: 20%;
        }
        .box{
          width: 16%;
          height: 18%;
          padding-right: 3%;
        }
        .contact-responsivo{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
        .tittle-contact{
          margin: 0;
          padding-left: 0;
        }
        .contact-responsivo ul{
          padding: 0;
          margin-top: 5%;
          margin-bottom: 8%;

        }
        .contact-responsivo ul li{
          font-family: 'Roboto-Light', sans-serif;
          font-size: 1em;
          color: #333;
          line-height: 29px;
          list-style-type: none;
        }


    }

@media (max-width: 640px){

        .tittle-instituto{
          width: 93%;
          padding-left: 3%;
          
        }
        .sobre-instituto{
          width: 96%;
          margin-top: 7%;
          line-height: 22px;
        }
        #azul{
          min-height: 100%;
        }
        .eventos{
          margin-right: 0;
        }

        .item-parceiros{
          width: 100%;
          margin-top: 4%;
        }

        .item-parceiros h3{
          text-align: center;
        }

        .item-parceiros p{
          width: 95%;
          line-height: 24px;
        }
        #map{
          background-size: 200%;
        }
        .plugin-responsivo{
          width: 90%;
        }

    }