@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html, body {
  margin: 0;
  padding: 0;
}
#home{
  display: flex;
  flex-wrap: nowrap;
  min-height: 60vh;
}

.div-precisaser{
  display: flex;
  justify-content: center;
  width: 50%;
  min-height: 100%;
}
.logo-ps{
  width: 40%;
}

.vainaweb{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
.tittle-instituto{
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 1.75em;
  color: #ED1164;
}
.historia{
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 0.9em;
  width: 85%;
}

#azul{
  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh;
  background-color: #64C0D9;
}
#azul div{
  margin-top: 40px;
}
.eventos{
  width: 43%;
  height: 100%;
  margin-left: 5%;
  margin-right: 2%;
}
.vnb{
  width: 43%;
  height: 100%;
  margin: 0;
}
#azul h2{
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 1.5em;
  color: #fff;
  width: 50%;
  margin-right: 0;
}
#azul p{
  font-family: 'Roboto-Bold', sans-serif;
  width: 90%;
  font-size: 0.95em;
  color: #fff;
  margin: 0;
  margin-bottom: 1em;
}




#parceiros{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-height: 100vh;
}


.title-projetos{
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Roboto-Medium', sans-serif;
  color: #555;
  margin-top: 5%;
}

.item-parceiros{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: baseline;
  width: 22%;
  height: 42%;
  margin-top: 5%;
  margin-left: 2%;
}
.item-parceiros img{
  max-width: 100%;
  max-height: 19vh;
}

.item-parceiros h3{
  width: 100%;
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 1em;
  color: #333;
}

.item-parceiros p{
  width: 100%;
  font-family: 'Roboto-Light', sans-serif;
  font-size: 0.9em;
  color: #333;
}







#map{
    width: 100%;
    min-height: 60vh;
    margin-top: 3%;
}
.maps {
    width: 100%;
    height: 100%;
}

footer{
    display: flex;
    align-self: baseline; 
    /*justify-content: space-around;*/
    margin-top: 2.5%;
    padding-left: 7%;
}
.plugin-responsivo{
  display: none;
}
.plugin-facebook{
  display: block;
}
.p-precisaser{
  width: 35%;
  margin-right: 10%;
}
.logo-precisaser{
  width: 58%;
  height: 18%;
}
.box{
  width: 20%;
  height: 20%;
}
.precisa{
  width: 100%;
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  color: #333;
  padding-left: 4%;
  margin-top: 7%;
  line-height: 20px;
}


 @media (max-width: 640px){
        #home{
          flex-direction: column;
          justify-content: center;
          align-items: center;
          min-height: 90vh;
        }
        .div-precisaser{
          width: 100%;

        }
        .logo-ps{
          width: 50%;
        }
        .vainaweb{
          width: 100%;
        }
        .tittle-instituto{
          width: 95%;
          font-size: 1.5em;
          padding-left: 3%;
          margin: 0;
          margin-top: 8%;
          
        }
        .historia{
          width: 96%;
          padding-left: 3%;
          font-size: 17px;
          margin: 0;
          margin-top: 8%;
        }
        #azul{
          flex-direction: column;
          justify-content: center;
          align-items: center;
          min-height: 150vh;
        }
        #azul h2{
          width: 80%;
        }
        .eventos{
          width: 95%;
          margin-right: 0;
        }
        .vnb{
          width: 95%;
          margin-left: 4%;
        }
        
        #parceiros{
          display: none;
        }
        #map{
          min-height: 90%;
          margin: 0;
        }
        footer{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 0;
        }
        .p-precisaser{
          width: 95%;
          padding-right: 0;
          margin-right: 0;
        }

        .logo-precisaser{
          width: 40%;
          height: 25%;
        }
        .box{
          width: 10%;
          height: 10%;
          padding-left: 20%;

          padding-right: 3%;
        }
        .precisa{
          width: 93%;
          font-size: 16px;
          margin-top: 5%;
          padding-left: 4%;
          margin-bottom: 7%;
        }
        .plugin-facebook{
          display: none;
        }
        .plugin-responsivo{
          display: block;
        }

    }
